<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.bluedot.XamarinMinimalApp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gps</string>
		<string>location-services</string>
		<string>accelerometer</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow this so that BDPointSampleApp can trigger geofences in the background.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>voip</string>
	</array>
	<key>Custom Property</key>
	<string></string>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>NSMotionUsageDescription</key>
	<string>Allow this so that BDPointSampleApp can utilise your motion sensor for better experience.</string>
	<key>CFBundleName</key>
	<string>BDPointiOSXamarinDemo</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow this so that BDPointSampleApp can trigger geofences in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow this so that BDPointSampleApp can trigger geofences in the background.</string>
	<key>CFBundleDisplayName</key>
	<string>BDPointiOSXamarinDemo</string>
</dict>
</plist>
